<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>eLEARNING - eLearning HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    {% include "LinkFile.html" %}
</head>

<body>
    {% include "Admin/frmAdminHeader.html"%}
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h2 class="mb-3">Enter Details for New Employee</h2>
    </div>
    <div class="container-xxl py-2">
        <div class="container">  
            <div class="row g-4">
                <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form action="/do_AdminaddEmp/" method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Employee Name">
                                    <label for="course">Employee Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control"  id="ContactNo" name="ContactNo" placeholder="Employee Contact Number">
                                    <label for="ContactNo">Employee Contact Number</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="Email" class="form-control"  id="Email" name="Email" placeholder="Employee Email ID">
                                    <label for="Email">Employee Email ID</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control"  id="address" name="address" placeholder="Employee Address">
                                    <label for="address">Employee Address</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control"  id="Designation" name="Designation" placeholder="Employee Designation">
                                    <label for="Designation">Employee Designation</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="Course" class="form-control"  id="Course" name="Course" placeholder="Employee Course">
                                    <label for="Course">Employee Course</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="Password" class="form-control"  id="Password" name="Password" placeholder="Employee password">
                                    <label for="Password">Employee password</label>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="isActive" name="isActive">
                                    <label class="form-check-label" for="isActive">Is Active</label>
                                </div>
                            </div>

                            <div class="col-12">
                               <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                            </div>
                        </div>

                    </form>
                    <div id="message" style="display:none; margin-top: 20px;">Employee Registration successful. Employee can log in now.</div>
                </div>

            </div>
        </div>
    </div>
    <!-- Contact End -->

    {% include 'Footer.html' %} 
    {% include 'JS.html' %}

 
</body>

</html>
