<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "LinkFile.html" %}
</head>
<body>
  {% include "Admin/frmAdminHeader.html"%}

  <div class="text-center wow fadeInUp" data-wow-delay="0.1s"> 
    <h1 class="mb-3">Welcome!
      {% for e in MYUser %}
      {% if forloop.first %}
       
      {{e.username}}

      {% endif %}  
      {% endfor %}
    </h1>    
</div>

  <div class="container-xxl py-2">
      <div class="container">
          <!-- <div class="text-center wow fadeInUp" data-wow-delay="0.1s">         
            <a href="/Adminaddcourse/" class="btn btn-primary">Add New Course</a>             
            <a href="/uploadmaterial/" class="btn btn-primary">Upload Material</a>
            <a href="/AdminaddEmp/" class="btn btn-primary">Add Employee</a>
            <br><br><br>
          </div> --> 
      </div>
  </div>
  {% include 'Footer.html' %} 
  {% include 'JS.html' %}
</body>
</html>
