<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "LinkFile.html" %}
</head>
<body>
  {% include "Emp/HR/frmHRHearder.html"%}

  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">  
    <h2 class="mb-3">Course Details</h2>
  </div>
  
  <div class="container-xxl py-2">
      <div class="container">
          <div class="row g-4">                       
              <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                  <form action="" method="post">
                      {% csrf_token %}
                      <table class="table">
                        <thead>
                          <tr>                    
                            <th>Sr.NO.</th>                  
                            <th>Course</th>                                  
                            <th>Course Fee</th>                                  
                            <th>User/Student</th>                                  
                            <th>Employee</th>                                  
                            <th>Is Active</th>                            
                          </tr>
                        </thead>
                        <tbody>                          
                          {% for e in MYCourse %}
                          <tr>                                                                    
                              <td>{{ forloop.counter }}</td>
                              <td>{{ e.course }}</td>
                              <td>{{ e.coursefee }}</td>
                              {% if e.isActive %}
                                  <td><a href="{% url 'StuList' e.course %}">Show Users</a></td>
                                  <td><a href="{% url 'HREmpList' e.course %}">Show Employee</a></td>
                              {% else %}
                                  <td>Show Users</td>
                                  <td>Show Employee</td>
                              {% endif %}
                              <td>{{ e.isActive }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>                      
                  </form>
              </div>
          
          </div>
      </div>
  </div>
  <!-- Contact End -->

  {% include 'Footer.html' %} 
  {% include 'JS.html' %}

    
</body>
</html>