<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include "LinkFile.html" %}
</head>
<body>
  {% include "Emp/TL/frmTLHearder.html"%}
  
  <!-- Contact Start -->
  <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Employee Dashboard</h6>
              {% for e in MYCourse %}
              {% if forloop.first %}
              <h1 class="mb-5">Welcome! {{e.name}}</h1>
              {% endif %}  
              {% endfor %}
          </div>
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          
            <!-- {% for e in MYCourse %}
            {% if forloop.first %}
              <a href="/AddStuCourse/{{ e.mobileno }}" class="btn btn-primary">Add New Course</a>
            {% endif %}  
            {% endfor %} -->
        </div>
          <div class="row g-4">
             
           
              <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                  <form action="" method="post">
                      {% csrf_token %}
                      <table class="table">
                        <thead>
                          <tr>                    
                            <th>Sr.NO.</th> 
                            <th>Mobile No</th>
                            <th>Name</th>                 
                            <th>Course</th>                                  
                            <th>Is Active</th>                            
                          </tr>
                        </thead>
                        <tbody>                          
                          {% for e in MYCourse %}
                          <tr>                                                                    
                              <td>{{ forloop.counter }}</td>
                              <td>{{ e.ContactNo }}</td>
                              <td>{{ e.name }}</td>
                              {% if e.isActive %}
                                  <td><a href="{% url 'Empuploadmaterial' e.Course %}">{{ e.Course }}</a></td>
                              {% else %}
                                  <td>{{ e.Course }}</td>
                              {% endif %}
                              <td>{{ e.isActive }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>                      
                  </form>
              </div>
          
          </div>
      </div>
  </div>
  <!-- Contact End -->

  {% include 'Footer.html' %} 
  {% include 'JS.html' %}

    
</body>
</html>